/* By Luka t.me/NoneTypeUser for bro RENC (THIASOFT) */
body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #121212;
    color: #e4e4e4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    position: relative;
    overflow-x: hidden;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

header {
    background: #1f1f1f;
    color: #e4e4e4;
    padding: 20px 0;
    text-align: center;
    z-index: 1;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #007bff;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #e4e4e4;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(31, 31, 31, 0.8);
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background: #1f1f1f;
    color: #e4e4e4;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.contact-info {
    margin-top: 10px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
